@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --active-progress-color: #165ee6;
    --inative-progress-color: #919fc5;
    --background-button-inactive: #c9c9c9;
    --background-button-active: #667dbe;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #373750;
}

.container {
    text-align: center;
}

.progress_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 400px;
    margin-bottom: 50px;
}

.progress_container::before {
    position: absolute;
    background-color: var(--inative-progress-color);
    content: '';
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}

.progress_bar {
    position: absolute;
    content: '';
    background-color: var(--active-progress-color);
    width: 0%;
    height: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: width 0.4s;
}

.step_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 4px var(--inative-progress-color) solid;
    background-color: var(--background-button-inactive);
    border-radius: 50%;
    font-size: 20px;
    transition: background-color 0.2s ease-in 0.1s,
        border-color 0.2s ease-in 0.1s;
    color: #121212;
}

.step_icon.active {
    border-color: var(--active-progress-color);
    background-color: var(--background-button-active);
}

.action_button {
    width: 140px;
    height: 50px;
    border: 0;
    border-radius: 6px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--active-progress-color);
    transition: background-color 0.1s;
    font-family: inherit;
    cursor: pointer
}

.action_button:active {
    transform: scale(0.96);
}

.action_button:focus {
    outline:0;
}

.action_button:disabled {
    cursor: not-allowed;
    background-color: var(--inative-progress-color);
}
